@model SchoolManagement.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Title
            @*@Html.DisplayNameFor(model => model.title)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
           Credits
            @*@Html.DisplayNameFor(model => model.credits)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credits)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.courseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
